.contact-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height:100vh;
}

.contact-heading h1 {
    margin: 1rem;
    background: linear-gradient(to right, #2193b0, #6dd5ed);
    -webkit-background-clip: text;
    color: transparent;
}

table {
    width: 80%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #333;
    margin: 1rem 0;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #333;
    font-family: 'Times New Roman', Times, serif;
}

.row1
{
    text-align: center;
}

th {
    text-align: left;
    background-color: #f4f4f4;
    font-weight: bold;
    width: 40%;
}

td {
    text-align: left;
    background-color: #fff;
}

input[type="date"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    background-color: transparent;
}

table input {
    background-color: transparent;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
}

.gender {
    display: flex;
    justify-content: space-around;
    border: none;
}

.gender input {
    width: 50%;
}

.unit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.unit input {
    width: 100%;
}

::placeholder {
    font-size: medium;
}