.form-container {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .form-container h1,.form-container h2,.form-container h3 {
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .common-access-table td, .gene-factory-table td, .verification-table td, .sicp-verification-table td, .iso-table td, .environmental-table td, .sustainability-table td {
    padding: 8px;
  }
  
  /* input[type="checkbox"] {
    margin: px;
  } */
  
  .signature-section, .date-section {
    margin-top: 20px;
  }
  
  .date-section {
    font-style: italic;
  }

  input[type="text"] {
    /* margin: 0 5px; */
    width: 100%;
    background-color: transparent;
  }

  .gender , .unit
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .unit select{
    padding: 0.3rem;
    border-radius: 7px;
    background-color: antiquewhite;
    color: #333;
  }

  .client-factory-details h3{
    text-decoration: underline;
  }

  

  .veri-type1,.veri-type2 ,.environment,.sus
  {
    display: flex;
    gap: 10px;
    /* justify-content: center; */
    align-items: center;
   
    width: 100%;
  }

  .verification-scope 
  {
    
    
    
  }

  .certification1, .certification2
  {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .certification1
  {
    border: 1px solid;
    padding: 1rem;
    border-radius: 5px;
  }